<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="Dto.MessageDTO" alias="messagedto"/>
		<typeAlias type="Dto.ChatlistDTO" alias="chatlistdto"/>
		<typeAlias type="Dto.ChatroomDTO" alias="chatroomdto"/>
		<typeAlias type="Dto.BoardDTO" alias="boarddto"/> 
		<typeAlias type="Dto.CommentDTO" alias="commentdto"/> 
		<typeAlias type="Dto.MemberDTO" alias="memberdto"/> 
		<typeAlias type="Dto.TownDTO" alias="towndto"/> 
		<typeAlias type="Dto.GoodHateDTO" alias="goodhatedto"/> 
	</typeAliases>
	
</configuration>