@charset "UTF-8";

#myPage_layout {
	width : 100%; 
	display : flex; 
	justify-content : space-between;  
}
#myPage_menu {
	width : 20%; 
	border-right : 1px solid #182434;
	margin-top : 30px;
}
#myPage_main {
	width : 80%; 
	margin-top : 30px;
	padding : 20px 0px;
	display : flex; 
	align-content : flex-start;
	flex-direction: row; 
	flex-wrap: wrap;
}
#myPage_name {
	width : 100%;
	height : 40px;
	line-height : 40px;
	font-size : 37px;
	font-weight : bold;
	margin-top : 30px;
	margin-bottom : 50px;
	margin-left : 50px;
}

/* 기본 css 제거 */
/* a {
	color: black;
	text-decoration: none;
}
 */
/* 게시글 목록 */
#adminList_top_btnBox {
	display: flex;
	margin-bottom : 10px;
}
#notYetListBtn, #doneListBtn {
	font-size : 15px;
	margin : 0.5px;
	border : none;
	background-color: transparent;
	cursor: pointer;	
}
#notYetList{
	border-right : 2px solid gray;
	width : 100px;
}
#doneList{
	width : 120px;
	text-align: center;
}

#board-table {
	width: 100%;
	border-collapse: collapse;
	margin-right: 30px;
	table-layout:fixed;
}

#board-table tr {
	height: 50px;
}

#board-table>thead>tr:nth-of-type(1) {
	background-color: #182434;
	height: 50px;
	color: white;
}

#board-table th {
	font-size: 20px;
	font-weight: normal;
	border-left: 3px solid #dcd9d8;
	border-right: 3px solid #dcd9d8;
}

#board-table th:nth-of-type(1) {
	width: 7%;
	border-left: none;
}

#board-table th:nth-of-type(2) {
	width: 13%;
}

#board-table th:nth-of-type(3) {
	width: 48%;
}

#board-table th:nth-of-type(4) {
	width: 13%;
}

#board-table th:nth-of-type(5) {
	width: 12%;
}

#board-table th:last-of-type {
	width: 7%;
	border-right: none;
}

#board-table>tbody>tr {
	border-top: 3px solid #dcd9d8;
	border-bottom: 3px solid #dcd9d8;
	height: 40px;
}

#board-table td {
	font-size: 18px;
	text-align: center;
	border-left: 3px solid #dcd9d8;
	border-right: 3px solid #dcd9d8;
	overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#board-table td a {
	width: 100%;
	overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#board-table td:first-of-type {
	border-left: none;
}

#board-table td:last-of-type {
	border-right: none;
}

.writing-title:hover {
	text-decoration: underline;
}

