@charset "UTF-8";

/* 기본 css 제거 */
a {
	color: black;
	text-decoration: none;
}

/* 게시글 목록 */
#board_name {
	display: flex;
	justify-content: space-between;
}

#board-table {
	width: 100%;
	border-collapse: collapse;
	margin-right: 30px;
}

#board-table tr {
	height: 50px;
	}

#board-table>thead>tr:nth-of-type(1) {
	background-color: #182434;
	height: 50px;
	color: white;
}

#board-table th {
	font-size: 20px;
	font-weight: normal;
	border-left: 3px solid #dcd9d8;
	border-right: 3px solid #dcd9d8;
}

#board-table th:nth-of-type(1) {
	width: 10%;
	border-left: none;
}

#board-table th:nth-of-type(2) {
	width: 50%;
}

#board-table th:nth-of-type(3) {
	width: 15%;
}

#board-table th:nth-of-type(4) {
	width: 15%;
}

#board-table th:nth-of-type(5) {
	width: 10%;
	border-right: none;
}

#board-table>tbody>tr {
	border-top: 3px solid #dcd9d8;
	border-bottom: 3px solid #dcd9d8;
	height: 40px;
}

#board-table td {
	font-size: 18px;
	text-align: center;
	border-left: 3px solid #dcd9d8;
	border-right: 3px solid #dcd9d8;
}

#board-table td:first-of-type {
	border-left: none;
}

#board-table td:last-of-type {
	border-right: none;
}

.writing-title:hover {
	text-decoration: underline;
}

/* 페이지 번호 */
#page-container {
	margin-top: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#pagination span {
	text-align: center;
}

#pagination a {
	font-size: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

#pagination a:hover {
	text-decoration: underline;
}

/* 글쓰기 버튼 */
#top_btnBox{
	width : 97%;
	display : flex;
	justify-content:flex-end;
	margin-bottom : 5px;
}
#writeBtn {
	width:70px; height : 35px;
	font-size : 13px;
	border : 1px solid #8D98AA;
	border-radius : 3px;
	background-color : transparent;	
	cursor: pointer;
}
#writeBtn:hover {
	background-color : #6D829B;
	color : white;			
}

/* 게시판 검색창 부분 */
#board_search_box {
	width : 100%;
	display : flex;
	justify-content : center;
	margin-top : 20px;
	
}
#board_search_inputs{
	margin-left : 25px;
	width : 410px;
	display : flex;
	justify-content: space-between;
}
#selectBox {
	width : 80px; height : 30px;
	text-align: center;
	font-size : 14px;
}
#board_searchword {
	width : 230px; height : 25px;
}
#board_search_btn {
	width:60px; height : 30px;
	font-size : 14px;
	border : 1px solid #8D98AA;
	border-radius : 3px;
	background-color : transparent;	
	cursor: pointer;
}
#board_search_btn:hover {
	background-color : #6D829B;
	color : white;			
} 
