@charset "UTF-8";


@font-face {
    font-family: 'VitroCore';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.ttf') format("truetype");
    font-display: swap;
	}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'GmarketSansMedium';
}

html{
	width:950px;
	background: #E3E2E0;
}
body{
	width:80%;
	margin:10px auto;
	background:#F2F2F2;
	padding:0 20px;
	padding-bottom: 30px;
	padding-top:15px;
}
a{
	color:black;
    text-decoration: none;
  }
.logo_container{
	display:flex; 
	align-items: center;	
	justify-content: center; 
	height:50px;
	border-top: 13px solid #182434; 
	border-bottom: 5px solid #182434;
}
.logo {
	font-family: 'VitroCore';
	font-size:40px;
}
form {
	
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
input {
	border : 1px solid #E3E2E0;
	border-radius: 30px;
	text-align: center;
	vertical-align: middle;
	width: 300px;
    height:38px;
    font-size : 15px;
    margin-top:10px;
}
#id{
	margin-top:5px;
}

#Findpassword{
	background-color :#182434;
	color: white;
	margin-top:10px;
	border : 1px solid #182434;
	margin-bottom:20px;
}
#password{
	display:none;
}
.h1{
	margin-top:40px;
	margin-left:-150px;
}
.a-word{
	position:absolute;
	font-size:15px;
}
#a-id{
	margin:15px 0 0 -40px;
}
#a-mail{
	margin:23px 0 0 -60px;
}
