@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'GmarketSansMedium';
}
@font-face {
    font-family: 'VitroCore';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.ttf') format("truetype");
    font-display: swap;
}
.logo {
	font-family: 'VitroCore';
	font-size:50px;
}
.vitro {
	font-family: 'VitroCore';
	font-size:40px;
}
.profileBox{
	height:50px; display:flex; justify-content: flex-end; align-items: center;
}
.profile{
	text-decoration: none; display:flex; color:black; align-items: center;
}
.loginBtn{
	margin:0 10px 0 15px; text-decoration: none; color:black;
}
.logoBox{
	display:flex; align-items: center;	justify-content: center; height:100px; border-top: 13px solid #182434; border-bottom: 5px solid #182434;
}
.dateBox{
	display: flex;justify-content: space-between; align-items: center; margin-top: 10px; border:1px solid #182434;height:50px;
}
.date{
	font-size: 20px; margin-left: 20px; margin-top: 22px;
}
.textinput{
	border:1px solid #bbb; padding-left:5px; background: transparent;height:30px; width:250px;
}
.searchBtn{
	position: relative;top: 5px;right: 40px; border:none;
}
.searchBtn:hover{background: none;}
.textinput:focus {outline:2px solid #878787; border:none;} 
.cursor{cursor: pointer;}