@charset "UTF-8";

@font-face {
    font-family: 'VitroCore';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
	font-family: 'GmarketSansMedium';
}
body{
	width:1900px;
	background: #E3E2E0;
}
.logo_container{
	display:flex; 
	align-items: center;	
	justify-content: center; 
	height:200px;
	margin-top:220px;
}
.logo {
	font-family: 'VitroCore';
	font-size:70px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
input {
	
	border-radius: 30px;
	text-align: center;
	vertical-align: middle;
	width: 400px;
    height:50px;
    font-size : 20px;
    margin-top:12px;
}
a{
	color:black;
    text-decoration: none;
  }
#id{
	margin-top:-20px;
}
.id-pw{
	border : 1px solid #E3E2E0;
}
.sign_up_pw{
	font-size:18px;
	margin-top:50px;
	color: black;
}
.loginbtn{
	background:#DCD9D8;
	border : 1px solid #182434;
}
.loginbtn.on{
    background-color: #182434;
    color: white;
    cursor: pointer;
}