@charset "UTF-8";

/* 글 작성 부분 */
#board_name {
	display: flex;
	flex-direction: row;
	margin-right: 30px;
}

#board-name {
	width: 25%;
	font-size: 1rem;
	margin-right: 15px;
	padding: 10px;
	height: 40px;
}
#write-form { 
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
}

#write-title {
	width: 75%;
	height: 16px;
	font-size: 1rem;
	padding: 10px;
}

#board_page {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-right: 30px;
}

#editor {
	width: 100%;
	height: 850px;
	margin-bottom: 20px;
	border: 2px solid black;
}

div.ql-toolbar {
	width: 100%;
}

#content-footer {
	width: 100%;
	display: flex;
	justify-content:flex-end;
	align-items: center;
	margin-bottom : 5px;
}

#content-footer button {
	width:80px; height : 40px;
	font-size : 15px;
	border : 1px solid #8D98AA;
	border-radius : 3px;
	background-color : transparent;	
	cursor: pointer;
}

#content-footer button:hover {
	background-color: #6D829B;
	color: white;
}

#place-and-write {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#place-btn {
	margin-right: 10px;
}

.ql-editor img {
	margin: 0px;
	width: 500px;
	height: auto;
}

#place_center_align {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	display: none;
/* 	justify-content: center; */
}
#place_con {
	width: 400px;
	height: 130px;
	border: 1px solid #182434;
	background-color: #e5e5e5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#place_delbtn {
	text-align: center;
	line-height: 25px;
	cursor: pointer;
	width: 25px;
	height: 25px;
}
#place_info_con {
	padding-top: 13px;
	list-style: none;
	margin: 0px;
	padding-left: 15px;
}
.place_info {
	margin: 0px;
	margin-bottom: 5px;
	font-size: 12px;
	color: #999;
}
.place_info:first-of-type {
	font-size: 17px;
	color: black;
}